.form-header {
  color: var(--light);
  padding: 10px;
}

.contact-form {
  display: flex-end;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  background-color: var(--dark);
  margin-bottom: 20px;
}
.input-area {
  padding: 25px;
}

.input-box {
  width: 100%;
  color: black;
  padding: 10px;
  margin: 1rem 0;
  display: block;
  border: 2px solid var(--turq);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--light);
  color: var(--purp);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.contact-btn {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  background-color: var(--turq);
  color: var(--purp);
  border: 1px solid var(--purp);
  height: 3r;
  width: 25%;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 10px;

}

.contact-btn:hover {
  border: none;
  background-color: var(--purp);
  color: white;
}

